/* PodcastGrid.css */

.podcast-grid-container {
    height: 100%;
    width: 100%;
    background-color: black;
    color: white;
    position: relative;
    padding: 20px; /* Add padding for better spacing */
  }
  
  .header-container {
    margin-bottom: 20px;
  }
  
  .sort-container,
  .favorite-container {
    margin-left: 10px;
  }
  
  .selected-episode-container {
    margin-top: 20px;
  }
  
  .podcast-grid {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
  }
  
  .podcast-card {
    background-color: black;
    color: white;
    padding: 20px;
    flex: 0 0 calc(30% - 20px); /* Adjusted flex basis to include padding */
    margin: 10px;
    box-sizing: border-box; /* Include padding in the total width */
  }
  
  .favorite-button-container {
    margin-top: 10px;
  }
  
  .episode-list-container,
  .genre-list-container {
    margin-top: 10px;
  }
  
  .episode-list-container ul,
  .genre-list-container ul {
    padding: 0;
    list-style: none;
  }
  
  .episode-list-container li,
  .genre-list-container li {
    margin-bottom: 10px;
    cursor: pointer;
  }
  
  /* Add more styles as needed */
  